site_name: João Graça Gomes
repo_url: https://joaogracagomes.github.io

edit_uri: tree/main/docs/

theme:
  name: material
  custom_dir: docs
  logo: assets/iclogo.png
  favicon: assets/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.top
    - toc.follow
    - content.code.annotate

extra:
  homepage: https://joaogracagomes.github.io

plugins:
  - tags
  - search
  - include-markdown
  - mkdocs-jupyter
  - exclude:
      glob:
        - "LICENSE.md"

markdown_extensions:
  - meta
  - mdx_math:
      enable_dollar_delimiter: true
  - pymdownx.highlight:
      anchor_linenums: false
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML



